#navbar {
    position: sticky;
    position: -webkit-sticky;
}

#page-container {
    position: relative;
    min-height: 100%;
}

#content-wrap {
    margin-top: 2em;
    padding-bottom: 2.5em;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    padding: 7px;
    text-align: center;
}

.doc-header {
    margin-bottom: 0.5em;
}

.doc-header:nth-of-type(n+2) {
    margin-top: 1em;
}

.doc-lead {
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

.doc-paragraf {
    font-size: 1.10em;
    padding-left: 0.0em;
}

.doc-next-page {
    text-align: center;
}
