<nav id="navbar" class="navbar fixed-top navbar-expand-lg">
  <a class="navbar-brand" href="/">NodeJS</a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!--About-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <!--Node documentation-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Content
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/express">Express</a>
          <a class="dropdown-item" href="/request">Request</a>
          <a class="dropdown-item" href="/nodemon">Nodemon</a>
          <a class="dropdown-item" href="/postman">Postman</a>
          <a class="dropdown-item" href="/callback">What is a Callback</a>
          <a class="dropdown-item" href="/clientserver">Client & Server</a>
          <a class="dropdown-item" href="/nodejs">NodeJS</a>
          <a class="dropdown-item" href="/jquery">jQuery</a>
          <a class="dropdown-item" href="/restapi">REST APIs</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
